services:
  llonebot-docker:
    image: voidwind/ll-docker
    tty: true
    container_name: ll-docker
    restart: always
    ports:
      - "5900:5900"       #vnc默认端口
      - "6081:6081"       #noVNC默认端口
      - "5500:5500"
    # - "3001:3001" 留给反向
    environment:
      - TZ=Asia/Shanghai
      - VNC_PASSWD=vncpasswd
    volumes:
      - ./LiteLoader/:/opt/QQ/LiteLoader/
      # 未固化QQ数据 当前仅固化LiteLoader
